TOKEN=ใส่โทเคนบอท
CLIENT_ID=ใส่ClientID
GUILD_ID=ใส่ServerID
WAITING_VOICE_ID=ใส่IDห้องรอ
TARGET_VOICE_ID=ใส่IDห้องปลายทาง
ADMIN_ROLE_ID=ใส่IDยศแอดมิน
APPROVER_ROLE_IDS=1111111111,2222222222,3333333333
LOG_CHANNEL_ID=123456789012345678